<% content_for(:title, "Users") %>

<%= render 'lessons/navbar' %>
<section class="main-section">
		<div class="drk-bckgrnd">
			<div class="row top-div half-page">
			<h1>All Users</h1>
				<ul>

					<% @users.each do |user|  %>
					<li>
						<%= link_to user.name, user %>  
						<% if user.author %>
											<span class="author"> author</span></li>  
											<% end %>
						<% if current_user.author || current_user?(user) %>
						<p class="user-change"><%= link_to "edit", edit_user_path(user) %> | 
						<%= link_to "delete", user, confirm: "You sure?", method: "delete" %></p>
						<% end %>
					</li>	
					<% end %>
				</ul>
			</div>
		</div>

				<div class="icon-container">
					<div class="small-1 small-centered columns">
						<p><a href="https://github.com/Bw00d"><%= image_tag "octocat-pinkface.png", id: "octocat-link", alt: "octocat-logo" %></a></p>
					</div>
				</div>
	</div>
</section>
<div id="footer"></div>

		<!-- closing divs for offcanvas -->
	 </div>
</div>