<%= form_for @lesson do |f| %>
  <div class="row">
    <div class="form-group small-6 column">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row">
    <div class="form-group small-3 column">
      <%= f.label :number %>
      <%= f.text_field :number %>
    </div>
  </div>
  <div class="row">
    <div class="form-group small-3 column">
      <%= f.label :chapter_id %>
      <%= f.text_field :chapter_id %>
    </div>
  </div>
  <div class="row">
    <div class="form-group small-12 column">
      <%= f.label :content %>
      <%= f.text_area :content, id: "content-field" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group small-12 column">
      <%= f.label :editable_code %>
      <%= f.text_area :editable_code, id: "editable-code-field" %>
    </div>
  </div>
 <div class="row">
    <div class="form-group small-12 column">
      <%= f.label :answer %>
      <%= f.text_area :answer, id: "answer-field" %>
    </div>
  </div>
 

  <%= f.submit "Save", class:  'button tiny'  %>
<% end %>