<%= form_for @lesson do |f| %>
  <%= render 'shared/error_messages', object: @lesson %>
  <div class="row">
    <div class="form-group small-6 column">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="form-group small-3 column">
      <%= f.label :number %>
      <%= f.text_field :number %>
    </div>
    <div class="form-group small-3 column end">
      <%= f.label :chapter_id %>
      <%= f.text_field :chapter_id %>
    </div>
  </div>
  <div class="row">
    <div class="form-group small-3 column">
      <%= f.label :count %>
      <%= f.text_field :count %>
    </div>
  </div>
  <div class="row">
    <div class="form-group small-12 column">
      <%= f.label :content %>
      <%= f.text_area :content, class: "content-field" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group small-12 column">
      <%= f.label :editable_code %>
      <%= f.text_area :editable_code, class: "editable-code-field" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group small-12 column">
      <%= f.label :answer %>
      <%= f.text_area :answer, class: "answer-field" %>
    </div>
  </div>
  <div class="row center">
    <%= f.submit "Save", class:  'button tiny'  %>
  </div>
 

<% end %>