<%= form_for @lesson do |f| %>
  <div class="row">
    <div class="form-group small-6 column">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row">
    <div class="form-group small-3 column">
      <%= f.label :number %>
      <%= f.text_field :number %>
    </div>
  </div>
  <div class="row">
    <div class="form-group small-3 column">
      <%= f.label :chapter_id %>
      <%= f.text_field :chapter_id %>
    </div>
  </div>
  <div class="row">
    <div class="form-group small-12 column">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>
  </div>
  <!-- <div class="row">
    <div class="form-group small-3 column">
      <%#= f.label :code %>
      <%#= f.text_area :code %>
    </div>
  </div> -->

  <%= f.submit "Save", class:  'button tiny'  %>
<% end %>