<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap" data-no-turbolink>
    <nav class="tab-bar">
      <section class="left-small">
        <a id="left-menu" class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title"><%= link_to "Learn Sublime", root_path %></h1>
      </section>

      <section class="right-small">
        <a id="right-menu" class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Lessons</label></li>
        <% if @lessons %>
        <% @lessons.sort_by! { |lesson| lesson.number } %>
          <% @lessons.each do |lesson| %>
            <li><a href="/lessons/<%= lesson.id %>"><%= lesson.name %></a></li>
          <% end %>
        <% end %>
      </ul>
    </aside>

     <aside class="right-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>User</label></li>
        <% if signed_in? %>
        <% if current_user.author %>
        <li><%= link_to "Lessons", lessons_path %></li>
        <% end %>
        <li><%= link_to "Logout", logout_path, method: "delete" %></li>
        <li><%= link_to "Help", "#" %></li>
        <% else %>
        <li><%= link_to "Login", login_path %></li>
        <li><%= link_to "Sign up", new_user_path %></li>
        <% end %>
      </ul>
      <ul id="user-info">
        <% if signed_in? %>
        <li>Hello, <%= current_user.name %></li>
        <% end %>
      </ul>
    </aside>


