<% content_for(:title, "Lessons") %>

<%= render 'navbar' %>
		<div class="drk-bckgrnd">
			<div class="row top-div">
			  <h3>Lessons:</h3>
			  <ul>
			  	<% @lessons.sort_by! { |lesson| lesson.number } %>
			    <% @lessons.each do |lesson| %>
			    <li>Lesson <%= lesson.number %>: <%= lesson.name %> <br><span class="small-links"><%= link_to "edit", edit_lesson_path(lesson), { method: 'get' } %> | <%= link_to "delete", lesson_path(lesson), { confirm: 'You sure?', method: 'delete' } %></li></span>
			    <% end %>
			    </ul>
			    <hr>
			</div>

			<div class="row">
			  <h3>Create a new lesson</h3>
			</div>
			<div class="row bottom-space">
			  <%= render 'form' %>
			</div>
		</div>
		<!-- closing divs for offcanvas -->
	 </div>
</div>