<%= content_for(:title, @lesson.name) %>

<%= render 'shared/navbar' %>

    <section class="main-section">
			<div class="large-9 large-centered columns lesson bottom-space">
				<h1 id="lesson-name" class="center"><%= @lesson.name %></h1>
				<div class="content">
					<%= markdown @lesson.content %>
				</div>

				<p id="answer-block">
		<%= @lesson.answer %>
				</p>
				<p id="line-number">
					<%= @lesson.line_number %>
				</p>
				
					<div id="cm-editor">
						<%= render 'editor' %>
					</div>
		

			  <button id="submit-button" type="submit" class="">submit</button>
			  <button id="reset-button" type="submit" class="">reset</button>
				<%= link_to "skip", next_lesson_path(@lesson), id: "next", class: "button inactive" %>

			  <%= render "messages" %>
				<div class="small-1 small-centered columns">
					<p><a href="https://github.com/Bw00d"><%= image_tag "octocat-pinkface.png", id: "octocat-link", alt: "octocat-logo" %></a></p>
				</div>
			</div>
		</section>
  <!-- closing divs for offcanvas -->
			</div>
  </div>

<script>
$(document).ready(function() {
  var editor = CodeMirror.fromTextArea(document.getElementById("lesson-text"), {
    lineNumbers: true,
    mode: "ruby",
    matchBrackets: true,
    indentUnit: 2,
    theme : 'railscasts',
    keyMap: "sublime",
    tabSize: 2,
    activeLine: true,
    showTrailingSpace: false
  });
  // for counting strokes
  var count = 0;
  $('textarea').on('keyup',function(){
     count++;
      
    });

	$('#submit-button').click( function() {
		// $('#submit-button').hide();
		$('#reset-button').show();
		// editor = $("#lesson-text");
		var input = editor.getValue().trim();
		var output = input.replace(/[^\S\r\n]+$/gm, "")
		var answer = $('#answer-block').html().trim();
		var last_answer = answer.replace(/[^\S\r\n]+$/gm, "")
		var result = last_answer.localeCompare(output);
		if (result == 0 ) {
			$('#submit-button').hide();
			if (count < 5 ){
				// $('#notice-correct').append(" " + count + "clicks"); //counted strokes
				$('#notice-correct').show();
			} else {
				$('#could-improve').show()
			}
			$('#next').removeClass('inactive');
			$('#next').text('next lesson');
			$('#next').addClass('active');
		} else {
			$('#alert-wrong').show();
		}
	});
	$('#reset-button').click( function(event) {
		event.preventDefault();
		$('#reset-button').hide();
		$('#submit-button').show();
		location.reload();
	});
	
});
</script>
