<script src="highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<%= provide :title, @lesson.name %>
<div class="large-9 large-centered columns lesson bottom-space">
	<h2 class="center"><%= @lesson.name %></h2>
	<div class="content bottom-space">
		<%= markdown @lesson.content %>
	</div>
	<div class="code-block">
		<%= markdown @lesson.editable_code %>
	</div>
	<div class="edit-code">
		<%= markdown render 'edit_code' %>
	</div>

	<div class="edit-code">
		<textarea id="update-field">
			markdown
			<pre>
				<code class="prettyprint">Railscasts
					def change_this_method
					  puts &quot;This should be the second&quot;
					  puts &quot;This should be the first line&quot;
					end
				</code>
			</pre>
		</textarea> 
	</div>
</div>