
<%= provide :title, @lesson.name %>
<div class="large-9 large-centered columns lesson bottom-space">
	<h2 class="center"><%= @lesson.name %></h2>
	<div class="content bottom-space">
		<%= markdown @lesson.content %>
	</div>
	<p id="answer-block">
		<%= @lesson.answer %>
	</p>

<!-- first editor =========================================================== -->
	<div class="ace-bock">
		<div id="editor" class="mousetrap"><%= @lesson.editable_code %></div>
	</div>
  <button id="editor-button" type="submit" class="">submit</button>
  <button id="reset-button" type="reset" class="">reset</button>

  <button id="notice-correct" type="reset" class="">
  	Good job! Wasn't that easy?
  </button>
  <button id="alert-wrong" type="reset" class="">
  	Oops, not quite. Try using the short cut to fix the code.
  </button>


	<div class="content bottom-space">
		<%= markdown @lesson.content %>
	</div>
	
<!-- second editor =================== -->
	<div class="ace-bock">
		<div id="editor2" class="mousetrap"><%= @lesson.editable_code %></div>
	</div>

  <button id="editor-button2" type="submit" class="">submit</button>
  <button id="reset-button2" type="submit" class="">reset</button>
  <button id="next" type="submit" class="inactive">next lesson</button>

  <button id="notice-correct2" type="reset" class="">
  	Good job! Wasn't that easy?
  </button>
  <button id="alert-wrong2" type="reset" class="">
  	Oops, not quite. Try using the short cut to fix the code.
  </button>
<div class="small-1 small-centered columns">
			<p><a href="https://github.com/Bw00d"><%= image_tag "octocat-pinkface.png" %></a></p>
		</div>
 </div>
</div>