<%= content_for(:title, @lesson.name) %>

<%= render 'shared/navbar' %>

    <section class="main-section">
			<div class="large-9 large-centered columns lesson bottom-space">
				<h1 id="lesson-name" class="center"><%= @lesson.name %></h1>
				<div class="content">
					<%= markdown @lesson.content %>
				</div>

				<p id="answer-block">
		<%= @lesson.answer %>
				</p>
				<p id="line-number">
					<%= @lesson.line_number %>
				</p>
				
					<div id="cm-editor">
						<%= render 'editor' %>
					</div>
		

			  <button id="editor-button" type="submit" class="">submit</button>
			  <button id="reset-button" type="submit" class="">reset</button>
				<%= link_to "skip", next_lesson_path(@lesson), id: "next", class: "button inactive" %>
			  <button id="notice-correct" type="reset" class="">
			  	Good job! Wasn't that easy?
			  </button>
			  <button id="alert-wrong" type="reset" class="">
			  	Oops, not quite. Try using the short cut to fix the code.
			  </button>
				<div class="small-1 small-centered columns">
					<p><a href="https://github.com/Bw00d"><%= image_tag "octocat-pinkface.png", id: "octocat-link", alt: "octocat-logo" %></a></p>
				</div>
			</div>
		</section>
  <!-- closing divs for offcanvas -->
			</div>
  </div>

<script>
$(document).ready(function() {
  var editor = CodeMirror.fromTextArea(document.getElementById("lesson-text"), {
    lineNumbers: true,
    mode: "ruby",
    matchBrackets: true,
    indentUnit: 2,
    theme : 'railscasts',
    keyMap: "sublime",
    tabSize: 2,
    activeLine: true,
    showTrailingSpace: false
  });



	$('#editor-button').click( function() {
		$('#editor-button').hide();
		$('#reset-button').show();
		// editor = $("#lesson-text");
		input = editor.getValue().trim();
		answer = $('#answer-block').html().trim();
		console.log(answer);
		console.log(input);
		result = answer.localeCompare(input);
		if (result == 0 ) {
			$('#notice-correct').show();
			$('#next').removeClass('inactive');
			$('#next').text('next lesson');
			$('#next').addClass('active');
		} else {
			$('#alert-wrong').show();
		}
	});
	$('#reset-button').click( function(event) {
		event.preventDefault();
		$('#reset-button').hide();
		$('#editor-button').show();
		location.reload();
	});
});
</script>
