
<%= provide :title, @lesson.name %>
<div class="large-9 large-centered columns lesson bottom-space">
	<h2 class="center"><%= @lesson.name %></h2>
	<div class="content bottom-space">
		<%= markdown @lesson.content %>
	</div>

	<div class="ace-bock">
		<div id="editor" class="mousetrap"><%= @lesson.editable_code %></div>
	</div>

  <button id="editor-button" type="submit" class="btn btn-primary">submit</button>
	<p id="answer-block">
		<%= @lesson.answer %>
	</p>

	<div class="content bottom-space">
		<%= markdown @lesson.content %>
	</div>

	<div class="ace-bock">
		<div id="editor2" class="mousetrap"><%= @lesson.editable_code %></div>
	</div>

  <button id="editor-button2" type="submit" class="btn btn-primary">submit</button>
 </div>
</div>