<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/railscasts.min.css">
    <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
  </head>

  <body>

   <%= render 'layouts/header' %> 
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= javascript_include_tag "application" %>
  </body>
</html>